
.weather-page {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  background: #f0f4f8;
  min-height: 100vh;
  font-family: "Microsoft JhengHei", sans-serif;
}

.main-status{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .weather-img {
    width: 20%;
    object-fit: contain;
  }

  .status-text {
    font-size: 1.8rem;
    font-weight: bold;
    color: #2c3e50;
  }

}



.header-section {
  text-align: center;
  margin-bottom: 30px;
  h1 { color: #2c3e50; margin-bottom: 15px; }
  .select-box {
    background: white;
    padding: 15px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: inline-block;
    select { border: none; font-size: 1rem; cursor: pointer; outline: none; }
  }

  .main-status{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    .weather-img {
      margin-top: 1.5rem;
      width: 20%;
      object-fit: contain;
    }

    .status-text {
      font-size: 1.8rem;
      font-weight: bold;
      color: #2c3e50;
    }
  }
}

.weather-container {
  display: grid;
  margin-top: 2%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.element-card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  transition: transform 0.3s;

  &:hover { transform: translateY(-5px); }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 15px;
    h3 { font-size: 1.1rem; color: #34495e; margin: 0; }
  }
}

.data-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  .data-item {
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    grid-column: span 2;
    font-size: 1.5rem;
    font-weight: bold;
    color: #e67e22;
    background: none;

    &.full-width {
    font-size: 0.9rem;
    color: #0b66c8;
    grid-column: span 2;
    text-align: left;
    justify-content: flex-start;
    }
    &.text { color: #2980b9; font-weight: bold; }
  }
}

